<mat-sidenav-container  class="sidenav-container" >
  <mat-sidenav fxHide fxShow.xs="true"  #drawer class="sidenav"  fixedInViewport position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <mat-icon aria-label="Side nav toggle icon" (click)="drawer.toggle()" class="mat-icon">close</mat-icon>
    </mat-toolbar>
    <mat-nav-list fxLayout="column" (click)="drawer.toggle()">
      <a class="nav-items" mat-button routerLink="/about-us">Home</a>
      <a class="nav-items" mat-button routerLink="/prices">Contact</a>
      <a class="nav-items" mat-button routerLink="/start-page">About Us</a>
      <a class="nav-items" mat-button routerLink="/offer">Blogs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar" fxLayout fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="space-between center">
      <div>
        <span>my-website</span>
      </div>
      <mat-nav-list fxShow fxHide.lt-sm="true" fxLayout="row">
        <button class="nav-items" mat-button routerLink="/about-us">Contact</button>
        <button class="nav-items" mat-button routerLink="/about-us">Home</button>
        <button class="nav-items" mat-button routerLink="/about-us">About us</button>
        <button class="nav-items" mat-button routerLink="/about-us">Blogs</button>
      </mat-nav-list>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- //comment test ------------234567-------------------->