.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  // background-color: var(--navy);
}

.mat-toolbar {
  background: var(--navy);
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
